/*  Document   : Trivia Game
    Created on : 30-May-2020, 1:15 AM
    Author     : Biswajit Sarkar || 991589760
    Description: CSS for a trivia question card.
*/




@charset "utf-8";

body{
  margin:0;
  font-family: sans-serif, arial;
  background-color: lightpink;
}

#quiz {
  max-width: 450px;
  margin: 0 auto;
  position: relative;
  background: violet ;
}
.navigation {
  display: inline-block;
  list-style: none;
  padding: .5em 0;
  width: 2em;
  text-align: center;
  background: #96e0fd;
  border-radius: 17px;
  cursor: pointer;
}
.right{
  background: #a0ec7d;
}
.wrong{
  background: red;
}
.navigation.current {
	cursor: default;
}
ul {
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: center;
  margin: 0;
  padding-top: 20px;
  font-size: 1.5em;
}

#QuestionContainer {
  font-size: 1.5em;
  width: 75%;
  left: calc(12.5% - 10px);
  text-align: center;
  border: 3px solid blue;
  position: absolute;
  background-color: cyan;
  z-index: 1;
  padding: 10px;
}
#Options {
  margin: 0em 10px;
  padding: 2em 2em 10px;
  font-size: 1.25em;
  border: 3px solid yellow;
  position: relative;
  top: 1.85em;
}
.option {
  margin: 10px;
  padding: 10px 0;
}
#AnswerButtons {
  padding: 2.75em 25px 10px;
}
.buttonRows{
  display: flex;
  justify-content: space-around;
  padding: 10px 25px;
}
.buttonRows * {
  display: inline-block;
  padding: 10px 0;
  background: #dae4e8;
  box-shadow: inset -1px -1px 2px #000, inset 2px 2px 2px #fff;
  cursor: pointer;
  min-width: 120px;
  text-align: center;
}
.buttonRows *:hover{
  background: #96e0fd;
}
.buttonRows *:active{
  box-shadow: inset 1px 1px 2px #000, inset -2px -2px 2px #fff;
  padding: 9px 0 11px;
}
#HelpPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0,0,0,0.5);
}
#HelpPopup.hidden{
  display: none;
}
#HelpPopup > div {
  width: 360px;
  margin: 0 auto;
  height: 100vh;
  background: #edf5f9;
  padding: 0 20px;
  overflow-y: scroll;
  text-align: justify;
  position: relative;
}
.bold{
  font-weight: 600;
}
#CloseHelp {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  text-align: center;
  padding: 6px 0;
  background: #96e0fd;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
}